<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot Sample4-6</title>
</head>

<body>
  <h1>Authorized! <span sec:authentication="name"></span>
  </h1>
  <a href="/logout">ログアウト</a>
  <div>
    <a href="/sample4/step7">身長と入室した小屋名が登録されているユーザ一覧</a>
  </div>
  <!-- <p th:if="${chambers7}">
  <div th:each="chamber,stat:${chambers7}">
    <tr>
      <td>Index:[[${stat.index}]]</td>
      <td>ユーザ名:[[${chamberUser.userName}]]</td>
      <td>小屋名:[[${chamberUser.chamberName}]]</td>
      <td>年齢:[[${chamberUser.age}]]</td>
      <td>身長:[[${chamberUser.height}]]</td>
    </tr>
  </div>
  </p> -->
</body>

</html>
